<h1 mat-dialog-title>Run Configurations</h1>

<mat-dialog-content>
  <div class="ui grid content">
    <div class="row">
      <div class="six wide column">
          <div class="ui link list">
              <div [ngClass]="{ 'item active': this.selectedIndex === $index, 'item': this.selectedIndex !== $index }"
                        *ngFor="let cfg of configs; index as $index" (click)="selectConfig($index)" style="cursor:pointer;">
                  {{ cfg.name }}
              </div>
          </div>

          <!-- Button bar -->
          <div class="ui icon buttons">
              <button class="ui button" (click)="addNewConfig()"><i class="plus icon"></i></button>
              <button class="ui button" (click)="removeSelectedConfig()"><i class="minus icon"></i></button>
              <button class="ui button" (click)="cloneSelectedConfig()"><i class="clone icon"></i></button>
          </div>
      </div>

      <div class="ten wide column">
        <form class="ui form" #configEditor="ngForm" (ngSubmit)="applySelectedConfig()" *ngIf="selectedIndex >= 0">
            <div class="field">
                <label>Name</label>
                <input type="text" required name="name" id="name" [(ngModel)]="selectedConfig.name" placeholder="Enter a Name..." />
            </div>
            <div class="field">
                <label>Type</label>
                <select class="ui dropdown" name="type" id="type" [(ngModel)]="selectedConfig.type">
                    <option value="0">Local</option>
                    <option value="1">Container</option>
                    <option value="2">Tapis</option>
                </select>
            </div>

            <div class="field">
                <label>Main Entrypoint</label>
                <input type="text" required name="main-entrypoint" id="main-entrypoint" [(ngModel)]="selectedConfig.mainEntrypoint" />
            </div>
            <div class="field">
                <div class="ui checkbox" (click)="toggleTestsEnabled()">
                    <input type="checkbox" tabindex="0" class="hidden" [checked]="selectedConfig.testsEnabled">
                    <label>Tests Enabled?</label>
                </div>
            </div>
            <div class="field" *ngIf="selectedConfig.testsEnabled">
                <label>Test Entrypoint</label>
                <input type="text" name="test-entrypoint" id="test-entrypoint" [(ngModel)]="selectedConfig.testEntrypoint"  />
            </div>
            <button type="submit" class="ui button" [disabled]="configEditor.form.pristine || !configEditor.form.valid">Apply</button>
        </form>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui black deny button" mat-dialog-close>Close</button>
</mat-dialog-actions>
