<h1 mat-dialog-title>Publish Tale</h1>

<mat-dialog-content>
  <form class="ui form">
    <div class="field">
      <pre>Coming Soon!</pre>
    </div>
    <!--<button class="ui button" type="submit">Submit</button>-->
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui black deny button" mat-dialog-close>Cancel</button>
  <button class="ui positive right labeled icon button" [mat-dialog-close]="'true'">
    Submit
    <i class="checkmark icon"></i>
  </button>
</mat-dialog-actions>