<div fxLayoutAlign="center" [@routeAnimation]>
    <div class="ui stackable grid container">
        <div class="row" style="margin-top:2rem">
    
          <div class="four wide column">
            <div class="ui secondary vertical pointing menu fluid" id="settings-menu">
              <a class="active item">
                <i class="user plus icon"></i> Additional accounts
              </a>
            </div>
          </div>
          <div class="eleven wide right floated column" id="add-acct">
            <app-configure-accounts></app-configure-accounts>
          </div>

        </div>
    </div>
</div>
