<!-- Fake navbar (yuck) -->

<div class="ui inverted menu wt top" role="heading">
  <a href="/login#start-of-content" class="show-on-focus js-skip-to-content">Skip to content</a>
  <div class="header item wt brand"><img src="../../assets/img/wholetale_logo_sm.png" alt="Whole Tale Logo">WHOLE<span>TALE</span> <span> Dashboard</span></div>
</div>

<!-- Styled login area -->
<div class="login area">
  <div class="login banner" role="banner">
    <div class="ui huge white header">Reproducibility Simplified</div>

    <div class="ui white header">
        <p class="nomargin">Empower and share your research with Whole Tale, an open source platform for</p>
        <p class="nomargin">reproducible computational research. <a href="https://wholetale.org" style="color:white;"><u>Learn more...</u></a></p>
    </div>
  </div>
  <div id="start-of-content" class="show-on-focus"></div>
  <div role="main">
    <div style="margin-top: 10vh; margin-bottom: 2vh; color: black;">
      <h1>
        Sign in to Whole Tale
      </h1>
    </div>

    <a class="ui github-button button" (click)="loginWithGirder('GitHub')" (keydown.enter)="loginWithGirder('GitHub')" role="button" tabindex="0">
      <i class="github icon github-button-icon"></i>
      Sign in with GitHub
    </a>
    <a class="ui globus-button button" (click)="loginWithGirder('Globus')" (keydown.enter)="loginWithGirder('Globus')" role="button" tabindex="0">
      <i class="fa-globe icon globus-button-icon"></i>
      Sign in with Globus
    </a>
    <a class="ui preview-button button" (click)="loginAsAnonymous()" (keydown.enter)="loginAsAnonymous()" role="button" tabindex="0">
      <i class="fa-user icon user-button-icon"></i>
      Preview WholeTale
    </a>

    <p style="botmargin" style="margin: 10px; color:black;">By accessing Whole Tale, you agree to our
      <a [href]="tosUrl" style="color:black" target="_blank"><u>Terms of Use</u></a>.
    </p>
  </div>

  <div style="color:black">
    <p class="nomargin" style="margin-top: 50px; font-size: 12pt;">Whole Tale is supported by the National Science Foundation under Grant No. OAC-1541450.</p>
    <p class="nomargin" style="font-size: 12pt;">Computational resources are provided by XSEDE through Jetstream.</p>
    <p class="botmargin" style="font-size: 12pt;">Access to Stata is provided by StataCorp LLC.</p>
  </div>
</div>

<!-- Fake footer -->
<div class="ui centered footer grid" role="contentInfo">
  <div class="ui inverted basic blue segment row">
    <div class="three wide column"></div>

    <div class="two wide column" title="University of Illinois at Urbana-Champaign">
        <a href="http://illinois.edu/">
            <img src="../../assets/img/uiuc-200.png" alt="University of Illinois at Urbana-Champaign" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Chicago">
        <a href="http://www.uchicago.edu/">
            <img src="../../assets/img/uc-200.png" alt="University of Chicago" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of California, Santa Barabara">
        <a href="http://www.ucsb.edu/">
            <img src="../../assets/img/ucsb-200.png" alt="University of California, Santa Barabara" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Texas at Austin">
        <a href="http://www.utexas.edu/">
            <img src="../../assets/img/ut-200.png" alt="University of Texas at Austin" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Notre Dame">
        <a href="http://www.nd.edu/">
            <img src="../../assets/img/nd-200.png" alt="University of Notre Dame" width="148" height="98.6" />
        </a>
    </div>

    <div class="three wide column"></div>
  </div>
</div>
