<!-- Fake navbar (yuck) -->
<div class="ui inverted menu wt top">
  <div class="header item wt brand"><img src="../../assets/img/wholetale_logo_sm.png">WHOLE<span>TALE</span> <span> Dashboard</span></div>
</div>

<!-- Styled login area -->
<div class="login area">
  <div class="login banner">
    <div class="ui huge white header">Reproducibility Simplified</div>

    <div class="ui white header">
        <p class="nomargin">Empower and share your research with Whole Tale, an open source platform for</p>
        <p class="nomargin">reproducible computational research. <a href="https://wholetale.org" style="color:white;"><u>Learn more...</u></a></p>
    </div>
  </div>

  <a class="ui large blue button" (click)="loginWithGlobus()">
    <div class="access-wholetale">Access</div>
    <img src="../../assets/img/whole_tale_logo_text_long_light_large.png" width="200px" style="width:200px">
  </a>

  <p style="botmargin" style="margin: 10px; color:black;">By accessing Whole Tale, you agree to our
    <a href="https://docs.wholetale.org/tos" style="color:black"><u>Terms of Use.</u></a>
  </p>

  <div style="color:#666">
    <p class="nomargin" style="margin-top: 60px; font-size: 14pt;">Whole Tale is supported by the National Science Foundation under Grant No. OAC-1541450.</p>
    <p class="nomargin" style="font-size: 14pt;">Computational resources are provided by XSEDE through Jetstream.</p>
    <p class="botmargin" style="font-size: 14pt;">Access to Stata is provided by StataCorp LLC.</p>
  </div>
</div>

<!-- Fake footer -->
<div class="ui centered footer grid">
  <div class="ui inverted basic blue segment row">
    <div class="three wide column"></div>

    <div class="two wide column" title="University of Illinois at Urbana-Champaign">
        <a href="http://illinois.edu/">
            <img src="../../assets/img/uiuc-200.png" alt="University of Illinois at Urbana-Champaign" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Chicago">
        <a href="http://www.uchicago.edu/">
            <img src="../../assets/img/uc-200.png" alt="University of Chicago" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of California, Santa Barabara">
        <a href="http://www.ucsb.edu/">
            <img src="../../assets/img/ucsb-200.png" alt="University of California, Santa Barabara" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Texas at Austin">
        <a href="http://www.utexas.edu/">
            <img src="../../assets/img/ut-200.png" alt="University of Texas at Austin" width="148" height="98.6" />
        </a>
    </div>
    <div class="two wide column" title="University of Notre Dame">
        <a href="http://www.nd.edu/">
            <img src="../../assets/img/nd-200.png" alt="University of Notre Dame" width="148" height="98.6" />
        </a>
    </div>

    <div class="three wide column"></div>
  </div>
</div>
