<div class="ui stretched stackable grid" id="tale-metadata-container">
  <div class="row">
    <div class="sixteen wide column">

      <!-- Edit Mode (read/write for) -->
      <form id="taleMetadataForm" #taleMetadataForm="ngForm" class="ui form" *ngIf="editing">

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Title</label>
          <div class="field thirteen wide column">
            <input placeholder="Title is required." type="text" name="title" [(ngModel)]="tale.title" required>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Authors</label>
          <div class="thirteen wide column" style="padding-left:0;">
            <h4 style="text-align: center">Created by <span style="color:#67c096">{{creator.firstName}} {{creator.lastName}}</span></h4>

            <form id="taleAuthorsSubForm" #taleAuthorsSubForm="ngForm" class="ui form" *ngIf="tale.authors.length">
              <table class="ui table striped condensed">
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>ORCID</th>
                  <th></th>
                </tr>
                <tr *ngFor="let author of tale.authors; index as i; trackBy: trackByAuthorHash">
                  <td><input type="text" name="firstName_{{i}}" placeholder="First name is required." [(ngModel)]="author.firstName" required></td>
                  <td><input type="text" name="lastName_{{i}}" placeholder="Last name is required." [(ngModel)]="author.lastName" required></td>
                  <td><input type="text" name="orcid_{{i}}" placeholder="ORCID is required." [(ngModel)]="author.orcid" required></td>
                  <td><button class="ui tiny negative button" (click)="removeAuthor(author)"><i class="fas fa-trash"></i></button></td>
                </tr>
              </table>
            </form>
            <a style="cursor:pointer;" (click)="addNewAuthor()"><i class="fas fa-plus add-author-icon"></i> Add an author</a>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Category</label>
          <div class="field thirteen wide column">
            <input placeholder="Category is required." type="text" name="category" [(ngModel)]="tale.category" required>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Environment</label>
          <div class="field thirteen wide column">
              <select id="environmentDropdown" class="ui labeled icon fluid dropdown" name="imageId" [(ngModel)]="tale.imageId">
                  <option class="item" [ngValue]="env._id" *ngFor="let env of (environments | async); index as i; trackBy: trackById">
                  <img class="ui avatar image" [src]="env.icon | safe:'url'" />
                  {{ env.name }}
                  </option>
              </select>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Datasets used</label>
          <span *ngIf="!tale.dataSetCitation">No citable data</span>
          <ul *ngIf="tale.dataSetCitation" style="max-width:60vw">
              <li *ngFor="let citation of tale.dataSetCitation">
                  <a routerLink="/run/{{ tale._id }}" [queryParams]="{ tab: 'files' }" routerLinkActive="active" queryParamsHandling="merge">
                      {{ citation }}
                  </a>
              </li>
          </ul>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">License</label>
          <div class="field thirteen wide column">
              <select id="licenseDropdown" class="ui labeled icon fluid dropdown" name="licenseSPDX" [(ngModel)]="tale.licenseSPDX">
                  <option class="item" [ngValue]="license.spdx" *ngFor="let license of (licenses | async); index as i; trackBy: trackBySpdx">
                  {{ license.name }}
                  </option>
              </select>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Date created</label>
          <div class="field thirteen wide column">
            <span>{{ tale.created | date:'full' }}</span>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Last updated</label>
          <div class="field thirteen wide column">
            <span>{{ tale.updated | date:'full' }}</span>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Description</label>
          <div class="thirteen wide column" style="padding-left:0;">
            <div class="ui top attached tabular menu">
              <a class="item" [ngClass]="{ 'active': !previewMarkdown }" (click)="previewMarkdown=false">
                <i class="icon code"></i>
                Edit
              </a>
              <a class="item" [ngClass]="{ 'active': previewMarkdown }" (click)="previewMarkdown=true">
                <i class="icon unhide"></i>
                Preview
              </a>
            </div>
            <div class="ui bottom attached tab segment" [ngClass]="{ 'active': !previewMarkdown }">
              <textarea rows="5" type="text" name="description" placeholder="Description is required." [(ngModel)]="tale.description" required></textarea>
            </div>
            <div class="ui bottom attached tab segment" [ngClass]="{ 'active': previewMarkdown }">
              <markdown ngPreserveWhitespaces [data]="tale.description"></markdown>
            </div>
          </div>
        </div>

        <!-- TODO: "Generate" currently does nothing -->
        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Illustration</label>
          <div class="ui action field thirteen wide column">
            <input placeholder="http://" type="text" name="icon" [(ngModel)]="tale.illustration">
            <div class="or"></div>
            <button class="ui blue button" (click)="generateIcon()">Generate Illustration</button>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned">Published location</label>
          <div class="field thirteen wide column">
            <span *ngIf="!latestPublish">This Tale has not been published</span>
            <span *ngIf="latestPublish"><a [href]="latestPublish.uri">{{ latestPublish.pid }}</a></span>
          </div>
        </div>

        <div class="inline fields ui grid">
          <label class="two wide column right aligned"></label>
          <div class="field two wide right aligned column">
            <button class="ui blue submit button" [disabled]="!taleMetadataForm.valid || validateAuthors().length > 0" (click)="saveEdit()">Save</button>
          </div>

          <div class="field two wide right aligned column">
            <button class="ui button" (click)="cancelEdit()">Cancel</button>
          </div>

          <div class="field toggle ui checkbox four wide column">
            <input type="checkbox" name="public"
                [checked]="tale.public"
                (change)="tale.public=!tale.public">
            <label>Public?</label>
          </div>
        </div>

        <!--vdiv class="inline fields ui grid">
          <label class="two wide column right aligned">Validation Errors</label>
          <span *ngIf="taleMetadataForm.valid">No errors - Tale is valid!</span>
          <ul *ngIf="!taleMetadataForm.valid" style="max-width:60vw">
              <li *ngFor="let error of taleMetadataForm.errors">
                  <pre>{{ error | json }}</pre>
              </li>
          </ul>
        </div> -->
      </form>

      <!-- View Mode (read-only) -->
      <div id="readOnlyMetadata" class="ui grid" *ngIf="!editing">
        <div class="ten wide column">
          <div class="ui list">
            <div class="item">
              <b>Category:</b>
              <span class="category">{{ tale.category }}</span>
            </div>
            <div class="item">
              <b>Title:</b>
              <span>{{ tale.title }}</span>
            </div>
            <div class="item" *ngIf="creator">
              <b>Created By:</b>
              <span>{{ creator.firstName }} {{ creator.lastName }}</span>
            </div>
            <div class="item">
              <b>Authors:</b>
              <span *ngFor="let author of tale.authors; index as i; trackBy: trackById">
                  <span *ngIf="i > 0">, </span> <span [title]="author.orcid">{{ author.firstName }} {{ author.lastName }}</span>
              </span>
              <span *ngIf="!tale.authors.length && creator">{{ creator.firstName }} {{ creator.lastName }}</span>
              <span *ngIf="!tale.authors.length && !creator">???</span>
            </div>
            <div class="item">
              <b>Description:</b>
              <markdown ngPreserveWhitespaces [data]="tale.description"></markdown>
            </div>
            <div class="item">
              <b>License:</b>
              <span>{{ tale.licenseSPDX }}</span>
            </div>
            <div class="item">
                <b>Published Location:</b>
                <span *ngIf="latestPublish"><a [href]="latestPublish.uri">{{ latestPublish.pid }}</a></span>
                <span *ngIf="!latestPublish">This Tale has not been published</span>
            </div>
            <div class="item spaced">
              <b>Tale Specifics</b>
              <div class="list">
                <div class="item">
                  <b>Tale ID</b>
                  <span>{{ tale._id }}</span>
                </div>
                <div class="item">
                  <b>Involatile Data:</b>
                  <span *ngIf="!tale.dataSet.length">No citable data</span>
                  <ul *ngIf="tale.dataSet.length">
                    <li *ngFor="let dataset of tale.dataSet; index as i; trackBy: trackById">
                        <a [href]="apiRoot + (dataset._modelType === 'folder' ? '/folder/' : '/item/') + dataset.itemId + '/download?contentDisposition=attachment'" target="_blank">{{ dataset.mountPath }}</a>
                    </li>
                  </ul>
                </div>
                <div class="item">
                  <b>Environment:</b>

                  <img *ngIf="tale.icon" class="ui image" [src]="tale.icon | safe:'url'" style="height:1.5em; margin:0 .4em; display: inline-block">
                  <span *ngIf="(tale | taleImage | async) as environment">{{ environment.name }}</span>
                </div>
                <div class="item">
                  <b>Tale Created:</b>
                  <span>{{ tale.created | date }}</span>
                </div>
                <div class="item">
                  <b>Tale Updated:</b>
                  <span>{{ tale.updated | date }}</span>
                </div>
                <div class="item" *ngIf="tale.relatedIdentifiers && tale.relatedIdentifiers.length">
                  <b>Related Identifiers:</b>
                  <ul>
                    <li *ngFor="let ident of tale.relatedIdentifiers; index as i; trackBy: trackById">
                        {{ ident.relation }} <a [href]="transformIdentifier(ident.identifier)" target="_blank">{{ ident.identifier }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="inline fields ui grid" *ngIf="canEdit">
            <label class="two wide column right aligned"></label>
            <div class="field two wide right aligned column">
              <button class="ui blue button" (click)="startEdit()">Edit</button>
            </div>
          </div>
        </div>

        <div class="ui six wide column">
          <img class="ui image img-responsive" [src]="tale.illustration | safe:'url'" *ngIf="tale.illustration">
        </div>
      </div>
    </div>
  </div>
</div>
