
<div class="ui stretched stackable grid" id="tale-interact-container">
  <div class="row">
    <div class="sixteen wide column" *ngIf="instance">
      <!-- Launching state -->
      <div *ngIf="instance.status === 0" class="status-banner">
        <h3>Tale is launching, please wait...</h3>
        <i class="fas fa-5x fa-spinner fa-pulse"></i>
      </div>

      <!-- Running state -->
      <div *ngIf="instance.status === 1">
        <iframe *ngIf="instance.iframe" height="100%" width="100%" [src]="instance.url | safe:'url'"></iframe>

        <div *ngIf="!instance.iframe" class="ui message">
            <p>This Tale must be run in a separate window.</p>
            <p><a class="ui button primary" [href]="instance.url" target="_blank">Click here to comply</a></p>
        </div>
      </div>

      <!-- Error state -->
      <div *ngIf="instance.status === 2" class="status-banner">
        <i class="fas fa-exclamation-triangle"></i> Something went wrong.
        Please wait a few moments and try again.
      </div>

      <!-- Deleting state -->
      <div *ngIf="instance.status === 3" class="status-banner">
        <h3>Tale is stopping, please wait...</h3>
        <i class="fas fa-5x fa-trash fa-spin"></i>
      </div>
    </div>

    <div class="sixteen wide column" *ngIf="!instance">
      <div class="status-banner">
        <h3>You must Run this Tale before you can Interact.</h3>
      </div>
    </div>
  </div>
</div>
