<h1 mat-dialog-title>Create New Tale</h1>

<mat-dialog-content>
  <form class="ui form segment">
    <div class="field" *ngIf="showGit">
      <label>Git repository URL</label>
    <input matInput type="text" name="repo" placeholder="Enter a repository URL" [(ngModel)]="newTale.gitRepo" required />
    </div>

    <div class="field">
      <label>Title</label>
      <input matInput type="text" name="title" placeholder="Enter a Tale Name" [(ngModel)]="newTale.title" required />
    </div>

    <div class="field">
      <label>Compute Environment</label>
      <select class="ui dropdown" name="imageId" [(ngModel)]="newTale.imageId" required>
        <option value="">Choose a Compute Environment...</option>
        <option class="item" [ngValue]="env._id" *ngFor="let env of environments; index as i; trackBy: trackById">
          <img class="ui avatar image" [src]="env.icon" />
          {{ env.name }}
        </option>
      </select>
    </div>

    <div class="field" *ngIf="!datasetCitation">
        <label>Input Data</label>
        <p>Add data after Tale creation using your chosen compute environment, or the Files tab of your running Tale.</p>
        <!-- <input type="hidden" name="dataSet" [(ngModel)]="newTale.dataSet" /> -->
    </div>
    <div class="field" *ngIf="datasetCitation">
        <label>Input Data</label>
        {{ datasetCitation.doi }}
        <!-- <input type="hidden" name="dataSet" [(ngModel)]="newTale.dataSet" /> -->
    </div>
    <!--<button class="ui button" type="submit">Submit</button>-->
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui black deny button" mat-dialog-close>Cancel</button>
  <button class="ui positive right labeled icon button" [mat-dialog-close]="newTale">
    Create New Tale
    <i class="play icon"></i>
  </button>
</mat-dialog-actions>
