<div class="wt-dash" fxLayoutAlign="center" [@routeAnimation]>
  <div class="ui stackable grid container">

    <!-- Filter Tales -->
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui secondary pointing menu">
					<a routerLink="/public" routerLinkActive="active" class="item">
						Public Tales
					</a>
					<a routerLink="/mine" routerLinkActive="active" class="item">
						My Tales
					</a>
					<div class="right menu">
						<div id="createTaleDropdown" class="ui primary right labeled icon dropdown button" tabindex="0">
                            <i class="plus icon"></i>
                            Create New Tale
                            <div class="menu transition hidden" tabindex="-1">
                                <a class="item" (click)="openCreateTaleModal(false)">Create New Tale</a>
                                <a class="item active selected" (click)="openCreateTaleModal(true)">Create Tale from Git Repository</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>

    <!-- Search Tales -->
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui fluid icon wt-input input">
					<input type="text" placeholder="Search Tales..." [(ngModel)]="searchQuery">
					<i class="search icon"></i>
				</div>
			</div>
		</div>

    <!-- Sub-view changes based on URL -->
    <div class="row">
			<div class="sixteen wide column">
				<router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
