<div class="wt-dash" fxLayoutAlign="center" [@routeAnimation]>
  <div class="ui stackable grid container">

    <!-- Filter Tales -->
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui secondary pointing menu">
					<a routerLink="/tales" routerLinkActive="active" class="item">
						Public Tales
					</a>
					<a routerLink="/tales/mine" routerLinkActive="active" class="item">
						My Tales
					</a>
					<div class="right menu">
						<div class="item no-phone">
							<button class="ui primary right labeled icon button" (click)="openCreateTaleModal()">
                  Create New Tale
                  <i class="plus icon"></i>
              </button>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Search Tales -->
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui fluid icon wt-input input">
					<input type="text" placeholder="Search Tales..." [(ngModel)]="searchQuery">
					<i class="search icon"></i>
				</div>
			</div>
		</div>

    <!-- Sub-view changes based on URL -->
    <div class="row">
			<div class="sixteen wide column">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>