<div class="wt-dash" fxLayoutAlign="center" [@routeAnimation]>
  <div class="ui stackable grid container">

    <!-- Filter Tales -->
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui secondary pointing menu">
					<a (click)="changeFilter('public')" [ngClass]="{'active': currentFilter==='public'}" class="item">
						Public Tales
					</a>
					<a (click)="changeFilter('mine')" [ngClass]="{'active': currentFilter==='mine'}" class="item">
						My Tales
					</a>
					<div class="right menu">
						<div class="item no-phone">
							<button class="ui primary right labeled icon button" (click)="openCreateTaleModal()">
                  Create New Tale
                  <i class="plus icon"></i>
              </button>
						</div>
					</div>
				</div>
			</div>
		</div>

    <!-- Search Tales -->
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui fluid icon wt-input input">
					<input type="text" placeholder="Search Tales..." [(ngModel)]="searchQuery">
					<i class="search icon"></i>
				</div>
			</div>
		</div>

    <!-- Public Tales -->
		<div class="row">
			<div class="sixteen wide column">

        <div class="ui message" *ngIf="currentFilter==='mine' && !myRunningTales.length">
            You do not have any running Tales.
        </div>

        <div class="ui message" *ngIf="currentFilter==='mine' && myRunningTales.length">

             <p style="margin:0 0 15px;"><b>Currently running:</b> <i>{{ instanceCount }} Tales (out of 2 maximum)</i></p> 

              <div class="ui two stackable doubling selectable special cards">
                <div class="ui card" *ngFor="let tale of myRunningTales; index as i; trackBy: trackById">
                  <div class="extra content">
                    <span style="text-transform:uppercase">
                      {{ tale.copyOfTale ? 'copy' : 'original' }}
                    </span>
                  </div>
                  <div class="blurring dimmable segment fluid image" id="{{ tale._id }}-dimmer" (mouseover)="showDimmer(tale)" (mouseout)="hideDimmer(tale)">
                    <div class="ui dimmer transition hidden">
                      <div class="content">
                        <div class="center">
                          <a [href]="'/run/' + tale._id + '/metadata/'" class="ui inverted button">View</a>
                        </div>
                      </div>
                    </div>
                    <span style="position:relative;top:0;right:0;">
                      <img [src]="tale.icon" width="40" style="width: 40px;" alt="Compute Icon">
                    </span>
                    <img class="pic" [src]="tale.illustration" alt="Research image">
                  </div>
                  <div class="content">
                    <div style="text-transform: uppercase; color: #ba975e;font-weight: 700;">
                      {{ tale.categories }}
                    </div>
                    <div class="t-title">
                      <h3>{{ tale.title }}</h3>
                    </div>
                    <div>
                        by
                        <span *ngFor="let author of tale.authors; index as ii; trackBy: trackByAuthorOrcid" style="color:#67c096">
                            <span *ngIf="ii > 0">, </span> <a [href]="author.orcid">{{ author.firstName }} {{ author.lastName }}</a>
                        </span>
                        <span *ngIf="!tale.authors.length && creators[tale._id]" style="color:#67c096">{{ creators[tale._id].firstName }} {{ creators[tale._id].lastName }}</span>
                        <span *ngIf="!tale.authors.length && !creators[tale._id]" style="color:#67c096">???</span>
                    </div>
                  </div>
                  <div class="extra content">
                    <span style="text-transform:uppercase">
                        {{ tale.public ? 'public' : 'private' }}
                    </span>
                    <button *ngIf="!instances[tale._id]" class="right floated tale-button" (click)="startTale(tale)">
                        <i class="play icon"></i>
                        Run Tale
                    </button>
                    <button *ngIf="instances[tale._id] && instances[tale._id].status === 0" class="right floated tale-button" (click)="startTale(tale)">
                        <i class="fas fa-spinner fa-pulse"></i>
                        Please Wait...
                    </button>
                    <button *ngIf="instances[tale._id] && instances[tale._id].status === 1" class="right floated tale-button" (click)="stopTale(tale)">
                        <i class="stop icon"></i>
                        Stop Tale
                    </button>
                    <button *ngIf="instances[tale._id] && instances[tale._id].status === 2" class="right floated tale-button" (click)="stopTale(tale)">
                        <i class="warning icon"></i>
                        Error
                    </button>
                  </div>
                </div>
              </div>

            </div>

      </div>
    </div>
    <div class="row" style="margin-bottom:30px;">
      <div class="sixteen wide column">

        <div class="ui message" *ngIf="currentFilter === 'public' && !publicTales.length">
            No Public Tales have been shared.
        </div>

        <div class="ui message" *ngIf="currentFilter === 'mine' && !myStoppedTales.length">
            You do not have any stopped Tales.
        </div>

				<div class="ui four stackable doubling selectable special cards">

          <!-- Card for each Tale -->
          <div class="ui card" *ngFor="let tale of (currentFilter==='public' ? publicTales : myStoppedTales); index as i; trackBy: trackById">
            <div class="extra content" *ngIf="currentFilter==='mine'">
              <div class="right floated meta" (click)="openDeleteTaleModal(tale)"><i class="close icon"></i></div>
              <span style="text-transform:uppercase">
                {{ tale.copyOfTale ? 'copy' : 'original' }}
              </span>
            </div>
            <div class="blurring dimmable segment fluid image" id="{{ tale._id }}-dimmer" (mouseover)="showDimmer(tale)" (mouseout)="hideDimmer(tale)">

              <!-- Abstract card into reusable template? Card component? -->
              <div class="ui dimmer transition hidden">
                <div class="content">
                  <div class="center">
                    <a class="ui inverted button" [routerLink]="'/run/' + tale._id + '/metadata'" routerLinkActive="active">View</a>
                    <a class="ui tiny bottom right attached label" (click)="openDeleteTaleModal(tale)" *ngIf="tale.creatorId===tokenService.user._id">
                        <i class="red remove icon"></i>
                    </a>
                  </div>
                </div>
              </div>
              <img class="pic" [src]="tale.illustration" alt="Research image">
              <span class="zoom-icon">
                <img [src]="tale.icon" width="80" style="width: 80px;" alt="Compute Icon">
              </span>
            </div>
            <div class="content">
              <div style="text-transform: uppercase; color: #ba975e;font-weight: 700;">
                  {{ tale.categories }}
              </div>
              <div class="t-title">
                <h3>
                  <a class="ui link" style="text-decoration:none;" [routerLink]="'/run/' + tale._id + '/metadata'" routerLinkActive="active">{{ tale.title }}</a>
                </h3>
              </div>
              <div>
                  by
                  <span *ngFor="let author of tale.authors; index as ii; trackBy: trackByAuthorOrcid" style="color:#67c096">
                      <span *ngIf="ii > 0">, </span> <a [href]="author.orcid">{{ author.firstName }} {{ author.lastName }}</a>
                  </span>
                  <span *ngIf="!tale.authors.length && creators[tale._id]" style="color:#67c096">{{ creators[tale._id].firstName }} {{ creators[tale._id].lastName }}</span>
                  <span *ngIf="!tale.authors.length && !creators[tale._id]" style="color:#67c096">???</span>
              </div>
            </div>
            <div class="extra content">
              <span style="text-transform:uppercase">
                  {{ tale.public ? 'public' : 'private' }}
              </span>
              <button *ngIf="!instances[tale._id]" class="right floated tale-button" (click)="startTale(tale)">
                  <i class="play icon"></i>
                  Run Tale
              </button>
              <button *ngIf="instances[tale._id] && instances[tale._id].status === 0" class="right floated tale-button" (click)="startTale(tale)">
                  <i class="fas fa-spinner fa-pulse"></i>
                  Please Wait...
              </button>
              <button *ngIf="instances[tale._id] && instances[tale._id].status === 1" class="right floated tale-button" (click)="stopTale(tale)">
                  <i class="stop icon"></i>
                  Stop Tale
              </button>
              <button *ngIf="instances[tale._id] && instances[tale._id].status === 2" class="right floated tale-button" (click)="stopTale(tale)">
                  <i class="warning icon"></i>
                  Error
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>