/*

@import '~src/assets/sass/func/color';
@import '~src/assets/sass/func/rem';
@import '~src/assets/sass/mixin/bem';
@import '~src/assets/sass/mixin/positioning';
@import '~src/assets/sass/mixin/spacing';
@import '~src/assets/sass/mixin/sizing';
@import '~src/assets/sass/mixin/typography';
@import '~src/assets/sass/variables/theme';
@import '~src/assets/sass/variables/typography';

 */

.login.icon.backdrop {
  margin: 0 20%;
  background-color: #dcd9de;
  color: #000;
  margin-top: 10vh;
}

.login.banner {
  background-size: cover;

  background-image: url(../../assets/img/login-banner-top.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.login.area {
  text-align: center;
  margin: auto;
  color: #fff;
  height: calc(100vh - 94px - 0px - 48px + 1rem);
  overflow-y: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.ui.globus-button {
  background-color: #2b5693;
  border: 1px solid #1e3c66;
  color: white;
  &:hover {
    background-color: #24497c;
  }
  .globus-button-icon {
    border-right-color: #1e3c66;
  }
}

.ui.github-button {
  background-color: #333333;
  border: 1px solid #232323;
  color: white;
  &:hover {
    background-color: #2b2b2b;
  }
  .github-button-icon {
    border-right-color: #232323;
  }
}

.ui.blue.button {
  margin-top: 10vh;
  background-color: #0075d8;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

i.icon.criss.cross {
  background-size: 60px 60px;
  background-image: url(../../assets/img/criss-cross.png);
  width: 60px;
  height: 60px;
  margin: auto;
}

.ui.white.header {
  color: white;
}
.access-wholetale {
  font-weight: 700;
  font-size: 150%;
  margin: 10px 10px 0 0;
  float: left;
}
.accordion-container {
  text-align: left;
  padding: 1rem;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.botmargin {
  margin: 0 0 -5px 0;
  padding: 0;
}

.ui.inverted.menu {
  margin-bottom: 0;
  border-radius: 0;
  background: #1e2e44;
  height: 48px;
  padding: 0 2rem;
}

.ui.inverted.blue.segment {
  background-color: #283b49 !important;
  color: #fff !important;
}

.footer {
  bottom: 0;
  left: 0;
  border-radius: 0;
  height: 40px;
  //padding: 0 2rem;
}

.ui.menu.wt.top {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.ui.menu.wt.top .item.wt.brand span {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  padding-top: 0.1rem;
  padding-left: 0.2rem;
}

.header span {
  margin-right: 1rem;
}

.ui.inverted.menu.wt.top .item:not(.not-nav) {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #fff;
  border-bottom: 4px solid transparent;
  padding: 0 0.2em 0.3em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.ui.menu.wt.top .item.wt.brand {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1rem;
  vertical-align: text-bottom;
  color: #fff;
}

.ui.inverted.menu.wt.top .item {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.05rem;
}

body .ui.inverted.menu {
  border-radius: 0;
  height: 48px;
  padding: 0 2rem;
}

.ui.menu.wt.top .item.wt.brand img {
  width: 1.5em;
  margin-right: 0.5rem;
}

.ui.grid.centered.footer {
  position: fixed;
  width: 100vw;
  bottom: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.description,
.item,
p {
  font-size: 1em;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  // Workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=1241631
  word-wrap: normal;
  border: 0;
}

// Only display content on focus
.show-on-focus {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    z-index: 20;
    width: auto;
    height: auto;
    clip: auto;
  }
}
