#notificationStream {
  position: fixed;
  background: lightgrey;
  border: 1px solid rgba(34, 36, 38, 0.15);
  top: 50px;
  right: 20px;
  max-height: 40vh;
  max-width: 40vw;
}

/** TODO: Move to root as generic style */
.nomargin {
  margin: 0 !important;
  padding: 0 !important;
}

.event-progress > .label {
  margin-top: 0;
  width: unset;
}

/** Notification Stream styles */
#event-notification-placeholder {
  margin: 50px;
}
#event-notification-stream {
  position: fixed;
  top: 32px;
  left: 40vw;
  width: 55vw;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  max-height: 40vh;
  overflow-y: auto;
}
#event-stream-header {
  padding: 6px;
}

.progress {
  font-size: x-small;
}
