<div id="notificationStream" [hidden]="!showNotificationStream">
  <h3 id="event-stream-header" class="ui header">Current Tasks</h3>

  <!-- Placeholder message -->
  <div id="event-notification-placeholder" *ngIf="!eventCount" class="placeholder message">
    <i class="huge check circle icon"></i>
    <p>No new events</p>
  </div>

  <table class="ui small striped compact single line table nomargin">
    <tr ngClass="{ 'active': event.data.state === 'active') }" title="Last update: {{ event.updated }}"
        *ngFor="let event of events; index as i; trackBy: trackById">
      <td width="20%"><label class="ui label">{{ event.data.title || event.data.type }}</label></td>

      <!-- TODO: Truncate name -->
      <td width="15%" *ngIf="event.data.resource.tale_title" [title]="event.data.resource.tale_title">{{ event.data.resource.tale_title | truncate:20 }}</td>
      <td width="40%" [ngSwitch]="event.data.state">
        <div class="ui small teal indicating progress event-progress nomargin" *ngSwitchCase="'active'">
          <div id="event-progress-{{ event._id }}" class="ui progress">
            <div class="bar nomargin">
              <div class="progress"></div>
            </div>
            <div class="label">
              <i class="ui fas fa-fw fa-cog fa-spin icon"></i>
              {{ event.data.message }}
            </div>
          </div>
        </div>
        <span *ngSwitchCase="'success'">
          <i class="ui fas fa-fw fa-check-circle green icon"></i>
          Success
        </span>
        <span *ngSwitchCase="'queued'">
          <i class="ui fas fa-fw fa-pause yellow icon"></i>
          Queued<span *ngIf="event.data.message">: {{ event.data.message }}</span>
        </span>
        <span  *ngSwitchCase="'canceling'">
          <i class="ui fas fa-fw fas fa-circle-notch fa-spin brown icon"></i>
          Canceling<span *ngIf="event.data.message">: {{ event.data.message }}</span>
        </span>
        <span  *ngSwitchCase="'canceled'">
          <i class="ui fas fa-fw fa-stop brown icon"></i>
          Canceled<span *ngIf="event.data.message">: {{ event.data.message }}</span>
        </span>
        <span  *ngSwitchDefault>
          <i class="ui fas fa-fw fa-ban red icon"></i>
          Error<span *ngIf="event.data.message">: {{ event.data.message }}</span>
        </span>
      </td>
      <td width="5%">
        <button class="ui tiny negative basic right floated icon button"
                [disabled]="!event?.data?.resource?.jobs?.length"
                matTooltip="Cancel"
                *ngIf="event.data.state === 'active'"
                (click)="cancelJob(event)">
          <i class="times icon"></i>
        </button>
      </td>
      <td width="20%">
          <button (click)="openLogViewerModal(event)" [disabled]="event.data.resourceName !== 'job'"
                class="ui tiny primary basic right floated button">
            View Logs
          </button>

      </td>
    </tr>
  </table>

  <button class="ui tiny positive left floated button" (click)="ackAll()">Acknowledge all</button>
</div>
