<span>We regret to inform you that our platform will be going offline on <strong>09/01/2024</strong>. We deeply appreciate your support and want to ensure a smooth transition for you.</span>
<ul>
  <li>
    Export Your Data: Please follow this 
    <a href="https://wholetale.readthedocs.io/en/latest/users_guide/export_run.html#exporting">link</a> 
    for detailed instructions on how to export your data.
  </li>
  <li>
    Self-Host the Platform: You can continue using the platform 
    by self-hosting it. For more information on how to
    do this, visit this <a href="https://wholetale.readthedocs.io/en/latest/admin_guide/install.html">link.</a>
  </li>
</ul>

Thank you for your understanding and support. 
<button mat-raised-button
        (click)="snackBarRef.dismiss()">Dismiss</button>
