@import '~src/assets/sass/mixin/bem';

.header {
  @include el('logo') {
    vertical-align: middle;
  }
}

#event-notification-counter {
  margin-top: 45px !important;
  border-radius: 999px;
  padding: 2px 4px;
  text-align: center;
}
