
<div class="ui inverted menu wt-top">
    <a class="header item wt-brand" routerLink="/public" routerLinkActive="active"><img src="assets/img/wholetale_logo_sm.png">Whole<span>Tale</span></a>
    <a class="item" [ngClass]="{ 'active':currentRoute==='/public' || currentRoute==='/mine' }" routerLink="/public" routerLinkActive="active">Tale Dashboard</a>
    <!-- <a class="item" [ngClass]="{ 'active':currentRoute==='/datasets' }" routerLink="/datasets" routerLinkActive="active">Data Catalog</a> -->
    <!-- <a class="item" [ngClass]="{ 'active':currentRoute==='/environments' }" routerLink="/environments" routerLinkActive="active">Compute Environments</a> -->
    <div class="right menu">
      <a class="item" href="https://wholetale.readthedocs.io/en/stable/users_guide/" target="_blank">
        <i class="info circle white icon"></i>
      </a>
      <a class="item" (click)="toggleNotificationStream()">
        <i class="tasks white icon"></i>
        <div id="event-notification-counter" class="floating ui red label" *ngIf="eventCount > 0">
            {{ eventCount }}
        </div>
      </a>
      <div class="ui right account dropdown link item">
        <span class="text">
            <img *ngIf="user?.gravatar_baseUrl" class="ui avatar image gravatar" [src]="user.gravatar_baseUrl">
            <i *ngIf="!user?.gravatar_baseUrl" class="user circle white icon"></i>
        </span>
        <div class="menu" tabindex="-1">
          <div id="avatar-item" class="disabled item" *ngIf="user && user.gravatar_baseUrl">
            <img class="circle gravatar" [src]="user.gravatar_baseUrl">
            {{ user.firstName }} {{ user.lastName }}
        </div>
          <div class="divider nomargin"></div>
          <div class="item"  routerLink="/settings" routerLinkActive="active">Settings</div>
          <div class="item" (click)="logout()">Logout</div>
        </div>
      </div>
    </div>
  </div>
