// @import '~src/assets/sass/func/rem';

html,
body {
  overflow: hidden;
}

.main {
  position: relative;
  height: 100%;
  //max-height: calc(100vh - #{rem(8.4)});
}

app-header {
  height: 50px;
}
