<div class="ui grid" id="tale-files-container">

  <div class="four wide column">
    <div class="ui secondary fluid vertical pointing menu">
      <a *ngIf="tale._accessLevel > 1" class="item" [ngClass]="{ 'active': isNavActive('home') }" (click)="switchNav('home')">
        Home
      </a>
      <a class="item" [ngClass]="{ 'active': isNavActive('external_data') }" (click)="switchNav('external_data')">
        External Data
      </a>
      <a class="item" [ngClass]="{ 'active': isNavActive('tale_workspace') }" (click)="switchNav('tale_workspace')">
        Tale Workspace
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      <!--<button *ngIf="isNavActive('external_data')" class="ui primary button" (click)="openSelectDataModal()">Select Data...</button>
      <button *ngIf="isNavActive('external_data')" class="ui primary button" (click)="openRegisterDataModal()">Register Data...</button>
      <button *ngIf="isNavActive('tale_workspace')" class="ui primary button" (click)="openTaleWorkspacesModal()">Select Data...</button>-->
      <app-file-explorer id="tale-files-browser"
        [fileElements]="(folders | async).concat(files | async)"
        [path]="currentPath"
        [tale]="tale"
        [load]="load"
        [placeholderMessage]="placeholderMessage"
        [preventNavigation]="isNavActive('external_data')"
        [readOnly]="isNavActive('external_data')"
        [openSelectDataModal]="openSelectDataModal"
        [openTaleWorkspacesModal]="openTaleWorkspacesModal"
        [openRegisterDataModal]="openRegisterDataModal"
        [currentNav]="currentNav"
        [canNavigateUp]="canNavigateUp"
        (folderAdded)="addFolder($event)"
        (fileUploadsAdded)="uploadFiles($event)"
        (navigatedUp)="navigateUp()"
        (navigatedDown)="navigateToFolder($event)"
        (elementRenamed)="renameElement($event)"
        (elementRemoved)="removeElement($event)"
        (elementDownloaded)="downloadElement($event)"
        (elementCopied)="copyElement($event)"
        (elementMoved)="moveElement($event)">
      </app-file-explorer>
    </div>
  </div>
</div>