#results {
  min-height: 112px;
}

.info-block {
  padding: 8px;
  font-style: italic;
  max-width: 450px;
}

.white-bg {
  background-color: white !important;
}

.ui.vertical.menu.dta {
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
}

.clickable {
  cursor: pointer !important;
}

.icon-column {
  width: 2em;
}
