<h1 mat-dialog-title>Select from WT External Data Catalog</h1>

<mat-dialog-content>
  <div class="ui grid">
    <div class="row">
      <div class="four wide column">
        <div class="ui vertical menu fluid dta">
          <a class="item" [ngClass]="{ 'active': isNavActive('mine') }" (click)="activateNav('mine')">
            <p style="margin-bottom:0">My External Data</p>
            <span>Data registered by you</span>
          </a>
          <a class="item" [ngClass]="{ 'active': isNavActive('catalog') }" (click)="activateNav('catalog')">
            <p style="margin-bottom:0">WT Catalog</p>
            <span>Already registered in WT</span>
          </a>
        </div>
      </div>

      <div class="six wide column" style="padding: 20px 20px 40px 0;">
        <button class="ui basic primary left floated small button" (click)="addSelectedDatasets()">Add Selected <i class="fas fa-chevron-right fa-fw"></i></button>
        <table class="ui compact striped table">
          <!-- If dataset is selected, show the name of the dataset as the header -->
          <thead *ngIf="selectedDataset">
            <th colspan="5" class="ui sub header collapsing noselect clickable blue" (click)="navigateUp()">
              <span class="long alternate blue">
                <i class="horizontally flipped level up icon"></i>
                <span *ngIf="currentRoot && currentRoot._id === selectedDataset._id">{{ selectedDataset.name | truncate:40 }}</span>
                <span *ngIf="currentRoot && currentRoot._id !== selectedDataset._id">{{ currentRoot.name | truncate:40 }}</span>
              </span>
            </th>
          </thead>

          <!-- If dataset is selected, browse folders/files within the dataset -->
          <tbody *ngIf="selectedDataset">
            <tr *ngFor="let elem of (folders | async).concat(files | async); index as i; trackBy:trackById"
                [ngClass]="{ 'clickable': elem._modelType === 'folder', 'active': isSelected(elem, datasetsToAdd) }" (click)="toggledCheckbox($event, elem, datasetsToAdd)" (dblclick)="navigateToFolder(elem)">
              <td class="icon-column"><i class="fas fa-fw" [ngClass]="{ 'fa-folder': elem._modelType === 'folder', 'fa-file': elem._modelType === 'item' || elem._modelType === 'file' }"></i></td>
              <td>{{ elem.name | truncate:65 }}</td>
              <!--<td>{{ elem.size | fileSize }}</td>
              <td [title]="elem.updated">{{ elem.updated | date }}</td>-->
            </tr>
          </tbody>

          <!-- If no dataset is selected, browse datasets -->
          <tbody *ngIf="!selectedDataset">
            <tr>
                <td class="ui sub header collapsing noselect" colspan="2">DATA CATALOG</td>
            </tr>
            <tr  *ngFor="let dataset of (datasets | async); index as i; trackBy:trackById"
                [ngClass]="{ 'clickable': dataset._modelType === 'folder', 'active': isSelected(dataset, datasetsToAdd) }" (click)="toggledCheckbox($event, dataset, datasetsToAdd)" (dblclick)="navigateIntoDataset(dataset)">
              <td class="icon-column"><i class="fas fa-fw" [ngClass]="{ 'fa-folder': dataset._modelType === 'folder', 'fa-file': dataset._modelType === 'item' }"></i></td>
              <td>{{ dataset.name | truncate:40 }}</td>
              <!--<td>{{ dataset.size | fileSize }}</td>
              <td [title]="dataset.updated">{{ dataset.updated | date }}</td>-->
            </tr>
          </tbody>
        </table>
      </div>


      <div class="six wide column" style="padding: 20px 20px 40px 0;">

        <button class="ui basic primary right floated small button" (click)="removeSelectedDatasets()"><i class="fas fa-chevron-left fa-fw"></i> Remove Selected</button>
        <table class="ui compact striped table">

          <!-- If no dataset is selected, browse datasets -->
          <tbody>
            <tr>
                <td class="ui sub header collapsing noselect" colspan="2">SELECTED DATA</td>
            </tr>
            <tr *ngFor="let dataset of (addedDatasets | async); index as i; trackBy:trackById"
                [ngClass]="{ 'clickable': dataset._modelType === 'folder', 'active': isSelected(dataset, datasetsToRemove) }" (click)="toggledCheckbox($event, dataset, datasetsToRemove)">
              <td class="icon-column"><i class="fas fa-fw" [ngClass]="{ 'fa-folder': dataset._modelType === 'folder', 'fa-file': dataset._modelType === 'item'}"></i></td>
              <td>{{ dataset.name | truncate:40 }}</td>
              <!--<td>{{ dataset.size | fileSize }}</td>
              <td [title]="dataset.updated">{{ dataset.updated | date }}</td>-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui black deny button" mat-dialog-close>Cancel</button>
  <button class="ui primary right labeled icon button" [mat-dialog-close]="addedDatasets.value">
    Save
    <i class="checkmark icon"></i>
  </button>
</mat-dialog-actions>
