#searchbox {
}

.info-block {
  padding: 8px;
  font-style: italic;
}

.white-bg {
  background-color: white !important;
}

.ui.vertical.menu.dta {
  margin-top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
}
