<h1 mat-dialog-title>Select from WT External Data Catalog</h1>

<mat-dialog-content>
  <div class="ui grid">
    <div class="row">
      <div class="four wide column">
        <div class="ui vertical menu fluid dta">
          <a class="item" [ngClass]="{ 'active': isNavActive('mine') }" (click)="activateNav('mine')">
            <p style="margin-bottom:0">My External Data</p>
            <span>Data registered by you</span>
          </a>
          <a class="item" [ngClass]="{ 'active': isNavActive('catalog') }" (click)="activateNav('catalog')">
            <p style="margin-bottom:0">WT Catalog</p>
            <span>Already registered in WT</span>
          </a>
        </div>
      </div>

      <div class="twelve wide column" style="min-height: 300px; min-width: 300px; padding: 20px 20px 40px 0;">
      
        <table class="ui compact striped table">
          <!-- If no dataset is selected, browse datasets -->
          <tbody *ngIf="!selectedDataset">
            <tr  *ngFor="let dataset of (datasets | async); index as i; trackBy:trackById"
                [ngClass]="{ 'clickable': dataset._modelType === 'folder' }" (click)="toggledCheckbox($event, dataset)" (dblclick)="selectDataset(dataset)">
              <td class="collapsing">
                <div class="ui fitted checkbox">
                  <input type="checkbox" [checked]="isSelected(dataset)"> <label></label>
                </div>
              </td>
              <td><i class="fas fa-fw" [ngClass]="{ 'fa-folder': dataset._modelType === 'folder', 'fa-file': dataset._modelType === 'item'}"></i></td>
              <td>{{ dataset.name | truncate:40 }}</td>
              <td>{{ dataset.size | fileSize }}</td>
              <td [title]="dataset.updated">{{ dataset.updated | date }}</td>
            </tr>
          </tbody>

          <!-- If dataset is selected, browse folders/files within the dataset -->
          <thead *ngIf="selectedDataset">
            <th colspan="5" class="ui sub header collapsing noselect clickable blue" style="text-transform: none" (click)="navigateUp()">
              <span class="long alternate blue">
                <i class="horizontally flipped level up icon"></i>
                <span *ngIf="currentRoot && currentRoot._id === selectedDataset._id">{{ selectedDataset.name | truncate:40 }}</span>
                <span *ngIf="currentRoot && currentRoot._id !== selectedDataset._id">{{ currentRoot.name | truncate:40 }}</span>
              </span>
            </th>
          </thead>
          <tbody *ngIf="selectedDataset">
            <tr *ngFor="let elem of (folders | async).concat(files | async); index as i; trackBy:trackById"
                [ngClass]="{ 'clickable': elem._modelType === 'folder' }" (click)="toggledCheckbox($event, elem)" (dblclick)="navigateToFolder(elem)">
              <td class="collapsing">
                <div class="ui fitted checkbox">
                  <input type="checkbox" [checked]="isSelected(elem)" > <label></label>
                </div>
              </td>
              <td><i class="fas fa-fw" [ngClass]="{ 'fa-folder': elem._modelType === 'folder', 'fa-file': elem._modelType === 'item' || elem._modelType === 'file' }"></i></td>
              <td>{{ elem.name | truncate:65 }}</td>
              <td>{{ elem.size | fileSize }}</td>
              <td [title]="elem.updated">{{ elem.updated | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui black deny button" mat-dialog-close>Cancel</button>
  <button class="ui primary right labeled icon button" [mat-dialog-close]="selected">
    Select
    <i class="checkmark icon"></i>
  </button>
</mat-dialog-actions>