<div>
  <button *ngIf="!instances[tale._id]" class="right floated tale-button" (click)="startTale()">
      <i class="play icon"></i>
      Run Tale
  </button>
  <button *ngIf="instances[tale._id] && instances[tale._id].status === 0" class="right floated tale-button" (click)="startTale()">
      <i class="fas fa-spinner fa-pulse"></i>
      Please Wait...
  </button>
  <button *ngIf="instances[tale._id] && instances[tale._id].status === 1" class="right floated tale-button" (click)="stopTale()">
      <i class="stop icon"></i>
      Stop Tale
  </button>
  <button *ngIf="instances[tale._id] && instances[tale._id].status === 2" class="right floated tale-button" (click)="stopTale()">
      <i class="warning icon"></i>
      Error
  </button>
</div>