:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mat-toolbar {
  border-bottom: lightgrey 1px solid;
}

.fa.fa-fw.green {
  color: #8bc44a;
}
.fa.fa-fw.red {
  color: #db2828;
}
.fa.fa-fw.blue {
  color: #2185d0;
}
.fa.fa-fw.yellow {
  color: #ba975e;
}

.ui.message {
  width: 100%;
  height: 100%;
  max-width: none;
  border-radius: 0 0 10pt 0;
  box-shadow: none;
}

.toolbar {
  min-height: 64px;
}

.file-or-folder {
  padding: 8px;
  overflow: hidden;
}

.ui.progress {
  height: 4px;
  margin: 0;
  padding: 0;
}

.ui.progress > .bar {
  height: 4px;
}

.file-or-folder-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

.pointer {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}
