<mat-toolbar class="toolbar">
  <mat-icon *ngIf="!preventNavigation && canNavigateUp" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px"> {{ (currentNav.replace('_', ' ') | titlecase) + (path || '/') }} </span>
  <span class="spacer"></span>
  <button class="ui icon top right pointing primary file dropdown mini circular button" [disabled]="readOnly || currentNav === 'recorded_runs' || currentNav === 'tale_versions'" [hidden]="!currentNav">
    <i class="plus icon"></i>
    <div class="menu">
      <div class="header">{{ currentNav.replace('_', ' ')  | uppercase }} OPTIONS</div>
      <div class="item" *ngIf="currentNav !== 'external_data'" (click)="openFileUploadDialog()">
        <i class="fas fa-fw fa-2x fa-upload"></i> Upload Files...
      </div>
      <div class="item" *ngIf="currentNav !== 'external_data'" (click)="openFolderUploadDialog()">
        <span class="fas fa-fw fa-stack">
          <i class="fas fa-folder fa-stack-2x"></i>
          <i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
        </span> Upload Folder...
      </div>
      <div class="item" *ngIf="currentNav !== 'external_data'" (click)="openNewFolderDialog()">
        <i class="fas fa-fw fa-2x fa-folder-plus"></i> Create Folder...
      </div>
      <div class="item" *ngIf="currentNav === 'external_data'" (click)="openSelectDataDialog($event)">
        <!--<i class="fas fa-paperclip"></i>-->
        <span class="fa-stack fa-fw">
          <i class="fas fa-file fa-stack-2x"></i>
          <i class="fas fa-paperclip fa-stack-1x fa-inverse"></i>
        </span>
        WT Data Catalog
      </div>
      <div class="item" *ngIf="currentNav === 'external_data'" (click)="openRegisterDataDialog($event)">
        <i class="fas fa-fw fa-2x fa-file-import"></i> Web (DOI or URL)
      </div>
      <div class="item" *ngIf="currentNav === 'tale_workspace'" (click)="openTaleWorkspacesDialog($event)">
        <i class="fas fa-fw fa-2x fa-file-import"></i> Select Data...
      </div>
    </div>
  </button>
</mat-toolbar>

<input #folder multiple type="file" style="display: none" directory webkitdirectory mozdirectory (change)="onFolderUploadAdded($event)" />

<input #file multiple type="file" style="display: none" (change)="onUploadsAdded($event)" />

<div class="container" fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
  <!-- Show placeholder if there are no fileElements to display -->
  <div class="ui message" *ngIf="!fileElements || !fileElements.length">
    {{ placeholderMessage }}
  </div>


  <!-- Show folders/files in table if any exist -->
  <table class="ui basic selectable very compact blue table" *ngIf="fileElements && fileElements.length">
    <thead>
      <tr>
        <th width="5%"></th>
        <th width="45%">Name</th>
        <th *ngIf="currentNav==='recorded_runs' && !canNavigateUp" width="20%">Status</th>
        <th width="15%">Updated</th>
        <th width="10%" class="right aligned">Size</th>
        <th width="5%">More</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ele of fileElements; index as i; trackBy: trackById" (click)="navigate(ele)"
          [ngClass]="{ 'active': this.highlighted === ele._id }"
          [ngStyle]="{ 'cursor': getIcon(ele) === 'fa-folder' ? 'pointer' : 'inherit' }">
        <th class="center aligned"><i class="fas fa-fw fa-2x {{ getIcon(ele) }}"></i></th>
        <td [title]="ele.name">{{ ele.name | truncate:100 }}</td>

        <td *ngIf="ele.runStatus !== undefined">
          <span *ngIf="ele.runStatus === 0"><i class="fa fa-fw fa-question yellow"></i> UNKNOWN</span>
          <span *ngIf="ele.runStatus === 1"><i class="fa fa-fw fa-spinner fa-pulse yellow"></i> STARTING</span>
          <span *ngIf="ele.runStatus === 2"><i class="fa fa-fw fa-sync-alt fa-spin blue"></i> RUNNING</span>
          <span *ngIf="ele.runStatus === 3"><i class="fa fa-fw fa-check green"></i> COMPLETED</span>
          <span *ngIf="ele.runStatus === 4"><i class="fa fa-fw fa-times red"></i> FAILED</span>
          <span *ngIf="ele.runStatus === 5"><i class="fa fa-fw fa-ban red"></i> CANCELLED</span>
        </td>
        <td [title]="ele.updated">{{ ele.updated | date }}</td>
        <td class="right aligned" [title]="ele.folderId === currentUpload?.parentId && ele.name === currentUpload?.name ? (currentUpload.uploadProgress | number) + '%' : ele.size">
          <span *ngIf="ele.folderId !== currentUpload?.parentId || ele.name !== currentUpload?.name">{{ ele.size | fileSize }}</span>
          <small *ngIf="ele.folderId === currentUpload?.parentId && ele.name === currentUpload?.name"><i id="in-progress-upload-icon" class="fas fa-fw fa-spinner fa-pulse"></i> Uploading... {{ currentUpload.uploadProgress | number }}%</small>
          <div *ngIf="ele.folderId === currentUpload?.parentId && ele.name === currentUpload?.name" id="in-progress-upload-bar" class="ui indicating progress" [attr.data-percent]="currentUpload.uploadProgress | number">
              <div class="bar"></div>
          </div>
        </td>
        <td class="center aligned">
          <div [id]="sanitizeId('more-actions-' + ele._id)" class="ui inline file dropdown more-actions" (click)="openMenu($event, ele)" *ngIf="showContextMenu">
            <!--<div class="text">More</div>-->
            <i class="dropdown icon"></i>
            <div class="left menu">
              <div *ngIf="!readOnlyDropdown && !canNavigateUp" class="item" (click)="renameElement(ele)"><i class="fas fa-fw fa-edit"></i> Rename</div>
              <div *ngIf="!readOnlyDropdown && !canNavigateUp" class="item" (click)="removeElement(ele)"><i class="fas fa-fw fa-trash"></i> Remove</div>
              <div class="item" (click)="downloadElement(ele)"><i class="fas fa-fw fa-download"></i> Download {{ ele._modelType | titlecase }}</div>
              <div *ngIf="!readOnlyDropdown && (!canNavigateUp || (currentNav !== 'recorded_runs' && currentNav !== 'tale_versions'))" class="item" (click)="copyElement(ele)"><i class="fas fa-fw fa-clone"></i> Copy</div>
              <div *ngIf="!readOnlyDropdown && (currentNav !== 'recorded_runs' && currentNav !== 'tale_versions')" class="item" (click)="openMoveToDialog(ele)"><i class="fas fa-fw fa-exchange-alt"></i> Move To...</div>

              <div *ngIf="!canNavigateUp && (currentNav === 'recorded_runs' || currentNav === 'tale_versions')" class="divider"></div>
              <div *ngIf="!canNavigateUp  && (currentNav === 'recorded_runs' || currentNav === 'tale_versions')" class="item" (click)="showInfo(ele)"><i class="fas fa-fw fa-info"></i> View Info</div>
              <div *ngIf="!canNavigateUp && currentNav === 'tale_versions'" class="item" (click)="restoreVersion(ele)"><i class="fas fa-fw fa-window-restore"></i> Restore Version</div>
              <div *ngIf="!canNavigateUp && currentNav === 'tale_versions'" class="item" (click)="exportVersion(ele)"><i class="fas fa-fw fa-file-export"></i> Export Version</div>
              <div *ngIf="!canNavigateUp && currentNav === 'tale_versions'" class="item" (click)="copyTaleVersion(ele._id)"><i class="fas fa-fw fa-clone"></i> As New Tale</div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
