<mat-toolbar class="toolbar">
  <mat-icon *ngIf="!preventNavigation && canNavigateUp" class="pointer" (click)="navigateUp()">
    arrow_back
  </mat-icon>
  <span style="margin-left: 8px"> {{ path || currentNav ? (currentNav.replace('_', ' ') | titlecase) + '/' : '/' }} </span>
  <span class="spacer"></span>
  <button class="ui icon top right pointing primary file dropdown mini circular button" [disabled]="readOnly" [hidden]="!currentNav">
    <i class="plus icon"></i>
    <div class="menu">
      <div class="header">{{ currentNav | uppercase }} OPTIONS</div>
      <div class="item" *ngIf="currentNav !== 'external_data'" (click)="openFileUploadDialog($event)">
        <i class="fas fa-fw fa-2x fa-upload"></i> Upload File...
      </div>
      <div class="item" *ngIf="currentNav !== 'external_data'" (click)="openNewFolderDialog($event)">
        <i class="fas fa-fw fa-2x fa-folder-plus"></i> Create Folder...
      </div>
      <div class="item" *ngIf="currentNav === 'external_data'" (click)="openSelectDataDialog($event)">
        <!--<i class="fas fa-paperclip"></i>-->
        <span class="fa-stack fa-fw">
          <i class="fas fa-file fa-stack-2x"></i>
          <i class="fas fa-paperclip fa-stack-1x fa-inverse"></i>
        </span>
        WT Data Catalog
      </div>
      <div class="item" *ngIf="currentNav === 'external_data'" (click)="openRegisterDataDialog($event)">
        <i class="fas fa-fw fa-2x fa-file-import"></i> Web (DOI or URL)
      </div>
      <div class="item" *ngIf="currentNav === 'tale_workspace'" (click)="openTaleWorkspacesDialog($event)">
        <i class="fas fa-fw fa-2x fa-file-import"></i> Select Data...
      </div>
    </div>
  </button>
</mat-toolbar>

<input #file multiple type="file" style="display: none" (change)="onUploadsAdded($event)" />

<div class="container" fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
  <!-- Show placeholder if there are no fileElements to display -->
  <div class="ui message" *ngIf="!fileElements || !fileElements.length">
    {{ placeholderMessage }}
  </div>

  <!-- Show folders/files in table if any exist -->
  <table class="ui basic selectable very compact striped blue table" *ngIf="fileElements && fileElements.length">
    <thead>
      <tr>
        <th width="5%"></th>
        <th width="55%">Name</th>
        <th width="15%">Updated</th>
        <th width="10%" class="right aligned">Size</th>
        <th width="5%">More</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ele of fileElements; index as i; trackBy: trackById" (click)="navigate(ele)">
        <th class="center aligned"><i class="fas fa-fw fa-2x {{ getIcon(ele) }}"></i></th>
        <td [title]="ele.name">{{ ele.name | truncate:100 }}</td>
        <td [title]="ele.updated">{{ ele.updated | date }}</td>
        <td class="right aligned" [title]="ele.size">
            <small *ngIf="ele.uploading">Uploading... {{ ele.uploadProgress | number }}%</small>
            <div *ngIf="ele.uploading" [id]="'upload-' + ele._id" class="ui indicating progress" data-percent="0">
                <div class="bar"></div>
            </div>
            {{ ele.size | fileSize }}
        </td>
        <td class="center aligned">
          <div id="more-actions-{{ ele._id }}" class="ui inline file dropdown more-actions" (click)="openMenu($event, ele)" *ngIf="showContextMenu">
            <!--<div class="text">More</div>-->
            <i class="dropdown icon"></i>
            <div class="left menu">
              <div *ngIf="!readOnlyDropdown" class="item" (click)="renameElement(ele)"><i class="fas fa-edit"></i> Rename</div>
              <div *ngIf="!readOnlyDropdown" class="item" (click)="removeElement(ele)"><i class="fas fa-trash"></i> Remove</div>
              <div class="item" (click)="downloadElement(ele)"><i class="fas fa-download"></i> Download</div>
              <div *ngIf="!readOnlyDropdown" class="item" (click)="openMoveToDialog(ele)"><i class="fas fa-exchange-alt"></i> Move To...</div>
              <div *ngIf="!readOnlyDropdown" class="item" (click)="copyElement(ele)"><i class="fas fa-clone"></i> Copy</div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
