<h1 mat-dialog-title>Rename Element</h1>

<mat-dialog-content>
  <form class="ui form">
    <div class="field">
      <input matInput type="text" name="folder-name" placeholder="Folder Name" [(ngModel)]="folderName" required />
    </div>
    <!--<button class="ui button" type="submit">Submit</button>-->
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui black deny button" mat-dialog-close>Cancel</button>
  <button class="ui positive right labeled icon button" [mat-dialog-close]="folderName">
    Submit
    <i class="checkmark icon"></i>
  </button>
</mat-dialog-actions>