<h1 mat-dialog-title>View Logs</h1>

<mat-dialog-content>
  <div id="log-viewer-content">
    <pre *ngIf="logs.value">{{ logs.value }}</pre>
    <div *ngIf="!logs.value" id="log-viewer-spinner">
        <h3>Fetching logs, please wait...</h3>
        <i class="fas fa-pulse fa-spinner fa-5x"></i>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="ui checkbox">
    <input type="checkbox" name="stayAtBottom" [(ngModel)]="stayAtBottom" />
    <label>Scroll to Bottom</label>
  </div>
  <button class="ui black deny button" mat-dialog-close>Close</button>
</mat-dialog-actions>
