<div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch" [@routeAnimation]>
    <div class="ui stretched stackable grid panel-container">
        <div class="row" style="padding-top:20px">
            <div class="sixteen wide column">

                <div class="ui breadcrumb">
                    <a routerLink="/" routerLinkActive="active" class="section">
                      <i class="left angle icon"></i>
                      Return to Dashboard
                    </a>
                </div>

                <div class="wt-panel">
                    <div class="wt-panel-header">
                        <div class="tale-info">
                            <div class="ui stackable grid">
                                <div class="ten wide column">
                                    <div class="title-info">
                                        <img [src]="tale.illustration" *ngIf="tale.illustration">
                                        <img [src]="tale.icon" class="env" *ngIf="tale.icon">
                                        <p>{{ tale.title }}</p>

                                        <p class="qualifier">
                                            <span *ngFor="let author of tale.authors; index as i; trackBy: trackByAuthorOrcid">
                                                <span *ngIf="i > 0">, </span> <span [title]="author.orcid">{{ author.firstName }} {{ author.lastName }}</span>
                                            </span>
                                            <span *ngIf="!tale.authors.length && creator">{{ creator.firstName }} {{ creator.lastName }}</span>
                                            <span *ngIf="!tale.authors.length && !creator">???</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="six wide column" style="text-align: right">
                                    <app-tale-run-button class="tale-run-button" [tale]="tale" [instance]="instance" isPrimary="true" (taleInstanceStateChanged)="taleInstanceStateChanged($event)"></app-tale-run-button>
                                    <a routerLink="/" routerLinkActive="active" class="ui button" style="margin-right: 10px">
                                      Close
                                    </a>
                                    <div class="ui floating dropdown theme" tabindex="0">
                                        <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"></mat-icon>

                                        <div class="menu transition hidden" tabindex="-1">
                                            <div class="item" (click)="rebuildTale()">Rebuild Tale</div>
                                            <div class="item" (click)="restartTale()">Restart Tale</div>
                                            <div class="item" (click)="copyTale()">Duplicate Tale</div>
                                            <div class="item" (click)="openPublishTaleDialog($event)">Publish Tale</div>
                                            <div class="item" (click)="viewFullScreen()">View Fullscreen</div>
                                            <div class="item" (click)="gotoDocs()">View Documentation</div>
                                            <div class="item" (click)="exportTale()">Export Tale</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui secondary pointing menu" style="margin-top: 0">
                        <a class="item" [ngClass]="{ 'active': isTabActive('interact') }" (click)="switchTab('interact')">
                          Interact
                        </a>
                        <a class="item" [ngClass]="{ 'active': isTabActive('files') }" (click)="switchTab('files')">
                          Files
                        </a>
                        <a class="item" [ngClass]="{ 'active': isTabActive('metadata') }" (click)="switchTab('metadata')">
                          Metadata
                        </a>
                        <a class="item" [ngClass]="{ 'active': isTabActive('sharing') }" (click)="switchTab('sharing')">
                          Share <span class="counter">{{ collaborators.users.length + collaborators.groups.length }}</span>
                        </a>
                    </div>
                    <div class="wt-panel-body" style="padding-bottom:40px" [ngSwitch]="currentTab">
                        <div *ngSwitchCase="'interact'">
                          <app-tale-interact [tale]="tale" [instance]="instance"></app-tale-interact>
                        </div>

                        <div *ngSwitchCase="'files'">
                          <app-tale-files [tale]="tale" [taleId]="taleId"></app-tale-files>
                        </div>

                        <div *ngSwitchCase="'metadata'">
                          <app-tale-metadata [tale]="tale" [creator]="creator"></app-tale-metadata>
                        </div>

                        <div *ngSwitchCase="'sharing'">
                          <app-tale-sharing [tale]="tale" [creator]="creator" [(collaborators)]="collaborators"></app-tale-sharing>
                        </div>

                        <div *ngSwitchDefault>
                            Select a tab to continue
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
