@import '~src/assets/sass/mixin/bem';
@import '~src/assets/sass/layout/card';
@import '~src/assets/sass/layout/page';

@include page_layout;
@include card_layout;

.card_header {
  @include el('image') {
    background-image: url('https://avatars3.githubusercontent.com/u/19705696');
    background-size: cover;
  }
}

.panel-container {
  width: 100%;
}

.tale-run-button {
  display: inline-block;
  margin-right: 10px;
}

app-tale-versions-panel {
  //position: absolute;
  right: 0;
  height: 100%;
  height: fill-available;
  height: -moz-fill-available;
  height: -webkit-fill-available;
}

.lighter {
  color: #999;
}

.item i {
  padding-right: 0.5em;
}
