<h1 mat-dialog-title>Select Data</h1>

<mat-dialog-content>
  <div class="ui grid">
    <div class="row">
      <div class="four wide column">
        <div class="ui vertical menu fluid dta">
          <a class="item" [ngClass]="{ 'active': isNavActive('tale_workspaces') }" (click)="activateNav('tale_workspaces')">
            <p style="margin-bottom:0">Tale Workspaces</p>
            <span>Other accessible Tales</span>
          </a>
        </div>
      </div>

      <div class="twelve wide column" style="min-height: 300px; min-width: 300px;">
        
        <table class="ui compact striped table" *ngIf="isNavActive('tale_workspaces')">
          <!-- If no tale is selected, browse tales -->
          <tbody *ngIf="!selectedTale">
            <tr *ngFor="let tale of tales; index as i; trackBy:trackById" 
                class="clickable" (click)="selectTale(tale)">
              <td><i class="fas fa-folder fa-fw"></i> {{ tale.title | truncate:40 }}</td>
              <td *ngIf="(tale | taleImage | async) as environment">{{ environment.name }}</td>
              <td *ngIf="(tale | taleCreator | async) as creator">{{ creator.firstName }} {{ creator.lastName }}</td>
            </tr>
          </tbody>

          <!-- If tale is selected, browse folders/files within the tale workspace -->
          <thead *ngIf="selectedTale">
            <th colspan="5" class="ui sub header collapsing noselect clickable blue" style="text-transform: none" (click)="navigateUp()">
              <span class="long alternate blue">
                <i class="horizontally flipped level up icon"></i>
                <span *ngIf="currentRoot && currentRoot._id === selectedTale.workspaceId">{{ selectedTale.title | truncate:40 }}</span>
                <span *ngIf="currentRoot && currentRoot._id !== selectedTale.workspaceId">{{ currentRoot.name | truncate:40 }}</span>
              </span>
            </th>
          </thead>
          <tbody *ngIf="selectedTale">
            <tr *ngFor="let elem of (folders | async).concat(files | async); index as i; trackBy:trackById" 
                [ngClass]="{ 'clickable': elem._modelType === 'folder' }" (click)="toggledCheckbox($event, elem)" (dblclick)="navigateToFolder(elem)">
              <td class="collapsing">
                <div class="ui fitted checkbox">
                  <input type="checkbox" [checked]="isSelected(elem)"> <label></label>
                </div>
              </td>
              <td><i class="fas fa-fw" [ngClass]="{ 'fa-folder': elem._modelType === 'folder', 'fa-file': elem._modelType === 'file' || elem._modelType === 'item' }"></i></td>
              <td>{{ elem.name | truncate:40 }}</td>
              <td>{{ elem.size | fileSize }}</td>
              <td [title]="elem.updated">{{ elem.updated | date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="ui black deny button" mat-dialog-close>Cancel</button>
  <button class="ui primary right labeled icon button" [mat-dialog-close]="move">
    Move To Workspace
    <i class="checkmark icon"></i>
  </button>
  <button class="ui primary right labeled icon button" [mat-dialog-close]="copy">
    Copy To Workspace
    <i class="checkmark icon"></i>
  </button>
</mat-dialog-actions>