<div id="timeline-column">
  <div class="ui vertical segment" *ngIf="tale._accessLevel >= AccessLevel.Write">

    <button class="ui button fluid" (click)="saveNewVersion()">
      <i class="fas fa-save icon"></i> Save Tale Version
    </button>

    <hr />

    <!-- Recorded Runs -->
    <button (click)="performRecordedRun()" class="ui primary fluid labeled icon button">
      <i class="fas fa-check-circle icon"></i>
      Perform Run
    </button>
  </div>

  <h3>Tale History</h3>

  <div id="timeline" class="ui middle aligned divided list">
    <div class="ui message" *ngIf="!timeline.length">
      No previous versions saved for Tale.
    </div>

    <!-- Dropdown for Versions/Runs -->
    <div class="item" *ngFor="let res of timeline; index as i; trackBy: trackById"
            [ngClass]="{ 'selected-version': tale.restoredFrom === res._id }">
        <div class="content">
          <div class="date">{{ res.created | date:'short' }}</div>
          <div class="header">
            <img class="ui avatar image" *ngIf="(res | taleCreator | async) as creator" [src]="creator.gravatar_baseUrl" title="{{ creator.firstName }} {{ creator.lastName }} ({{ creator.login }})" />

            <span *ngIf="!res.runVersionId">Version saved:</span>
            <span *ngIf="res.runVersionId">Recorded run:</span>
          </div>

          <a href="#" [routerLink]="'/run/' + tale._id"
             [queryParams]="{ 'tab': 'files', 'nav': res.runVersionId ? 'recorded_runs' : 'tale_versions', 'highlight': res._id }"
             routerLinkActive="active">
            {{ res.name }}
          </a>

          <p>
            <small *ngIf="res.runVersionId">
              Based on version:
              <a href="#" [routerLink]="'/run/' + tale._id"
                 [queryParams]="{ 'tab': 'files', 'nav': 'tale_versions', 'highlight': res.runVersionId }"
                 routerLinkActive="active">
                {{ res.runVersionId | versionName:timeline }}
              </a>
            </small>
          </p>
        </div>
    </div>
  </div>
</div>
