<div id="timeline-column">
  <div class="ui vertical segment" *ngIf="tale._accessLevel >= AccessLevel.Write">
    <button class="ui button fluid" (click)="saveNewVersion()">
      <i class="fas fa-save icon"></i>Save Tale Version
    </button>

    <!-- TODO: Recorded Runs configurations -->
    <div class="ui fluid selection version dropdown" tabindex="0" *ngIf="false">
        <input type="hidden" name="Configuration">
        <i class="dropdown icon"></i>
        <div class="default text">Select recorded run configuration...</div>
        <div class="menu" tabindex="-1">
          <div class="item" data-value="1">Default</div>
          <div class="item" data-value="0">My Custom Config</div>
          <div class="divider"></div>
          <div style="margin: .75rem .75rem .35rem">
            <button class="ui button fluid" (click)="editRunConfigurations()">
              Edit run configurations
            </button>
          </div>
        </div>
    </div>

    <!-- TODO: Recorded Runs button -->
    <div style="margin-top: .25rem" *ngIf="false">
        <button class="ui button fluid primary" (click)="performRecordedRun()">
          <i class="fas fa-check-circle icon"></i>
          Recorded Run
        </button>
    </div>
  </div>
  <h3>Tale History</h3>
  <div id="timeline" class="ui middle aligned divided list">
    <div class="ui message" style="height:100%;" *ngIf="!timeline.length">
      No previous versions saved for Tale.
    </div>
    <div class="item" *ngFor="let version of timeline; index as i; trackBy: trackById">
        <div class="right floated content">
          <div class="ui floating version dropdown icon" tabindex="0">
              <i class="fas fa-ellipsis-v"></i>
              <div class="menu left transition hidden" tabindex="-1" style="display: block !important;">
                <div class="item" (click)="viewVersionInfo(version)">View Info</div>

                <!-- TODO: Restore Version button -->
                <div class="item" *ngIf="false">Restore</div>

                <!-- TODO: Compare Versions button -->
                <div class="item" *ngIf="false">Compare</div>

                <div class="item" (click)="renameVersion(version)" *ngIf="tale._accessLevel >= AccessLevel.Write">Rename</div>
                <div class="item" (click)="deleteVersion(version)" *ngIf="tale._accessLevel >= AccessLevel.Write">Delete</div>
                <div class="item" (click)="exportVersion(version)" *ngIf="tale._accessLevel >= AccessLevel.Write">Export</div>
              </div>
          </div>
        </div>
        <div class="content">
          <div class="date">{{ version.updated | date:'short' }}</div>
          <div class="header">
            <img class="ui avatar image" *ngIf="(version | taleCreator | async) as creator" [src]="creator.gravatar_baseUrl" title="{{ creator.firstName }} {{ creator.lastName }} ({{ creator.login }})" />
            <span>Version saved:</span>
          </div>

          {{ version.name }}
        </div>
    </div>
  </div>
</div>
