<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <h2>Connect Additional Accounts</h2>
      
      <p class="explanation">Authorize WholeTale to access and/or publish data on your behalf</p>
      
      <div class="ui segments">
        <div class="ui segment" *ngFor="let provider of providers; index as i; trackBy: trackByName">
          <button class="ui basic right floated blue button" 
                  [ngClass]="{ 'disabled': provider.state === 'authorized' || provider.state === 'preauthorized' }"
                  [disabled]="provider.state === 'authorized' || provider.state === 'preauthorized'"
                  (click)="rerouteToOAuthLogin(provider) || openConnectApiKeyModal(provider, $event)">
            Connect Account
          </button>
          <p>
            <img *ngIf="provider.logo" class="ui avatar image" src="data:image/png;base64,{{provider.logo}}">
            {{ provider.fullName }}
            <i *ngIf="provider.tags.indexOf('data') !== -1" class="database icon"></i>
            <i *ngIf="provider.tags.indexOf('publish') !== -1" class="share icon"></i>
          </p>
          <div class="connected">
            <div class="ui basic segment" [hidden]="token.provider !== provider.name" *ngFor="let token of tokens; index as ii; trackBy: trackByProviderName">
              <button class="ui basic tertiary right floated red button" (click)="openDisconnectAccountModal(provider, token, $event)">Disconnect</button>
              <p class="ui left floated text" *ngIf="provider.state !== 'preauthorized' && token.resource_server">Authorized on <a [href]="token.resource_server">{{ token.resource_server }}</a></p>
              <p class="ui left floated text" *ngIf="provider.state !== 'preauthorized' && !token.resource_server">Authorized</p>
              <p class="ui left floated text" *ngIf="provider.state === 'preauthorized'">Preuthorized</p>
            </div>
          </div>
        </div>
      </div>
      
      <p class="footnote">
        <i class="database icon"></i> Access data
        <span>|</span>
        <i class="share icon"></i> Publish
      </p>
      
    </div>
  </div>
</div>