<div fxLayoutAlign="center" [@routeAnimation]>
    <div class="ui stackable grid container">
        <!-- <div class="row">
            <div class="sixteen wide column">
                <div class="ui secondary pointing menu">
                    <a href="browse-env.html" class="active item">
                Public Environments
            </a>
                    <a href="" class="item">
                My Environments
            </a>
                    <div class="right menu">
                        <div class="item">
                            <div class="ui primary right labeled icon button" id="add-env">
                                Add Environment
                                <i class="plus icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="row">
            <div class="sixteen wide column">

                <div class="ui fluid icon wt-input input" style="margin-bottom:1em">
                    <input type="text" placeholder="Search WholeTale Environments...">
                    <i class="search icon"></i>
                </div>

                <div class="ui styled fluid accordion">
                    <div class="title">
                        <div class="label">
                            <img src="assets/img/frontends/rstudio.png" alt="RStudio">
                        </div>
                        <div class="listing">
                            <h3>Rstudio</h3> Integrated development environment for the R programming language
                        </div>
                        <div class="ui floating dropdown theme" tabindex="0">
                            <i class="fas fa-ellipsis-v"></i>
                            <div class="menu transition hidden" tabindex="-1">
                                <div class="item">Save to My Environments</div>
                                <a class="item">Use in Existing Tale</a>
                                <a class="item">Create New Tale</a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui list transition hidden">
                            <div class="ui stackable grid">
                                <div class="ui six wide column">
                                    <div class="item">
                                        <b>Name:</b> Rstudio
                                    </div>
                                    <div class="item">
                                        <b>Description:</b> No description
                                    </div>
                                    <div class="item">
                                        <b>Creator:</b> Kacper Kowalik
                                    </div>
                                    <div class="item">
                                        <b>Is Public:</b> Yes
                                    </div>
                                </div>
                                <div class="ui ten wide column">
                                    <div class="item">
                                        <b>Configuration:</b>
                                        <div class="ui message">
                                            <pre>JSON</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="title">
                        <div class="label">
                            <img src="assets/img/frontends/logo-jupyter.png" alt="Jupyter">
                        </div>
                        <div class="listing">
                            <h3>Jupyter Notebook</h3> Create documents that contain live code, equations, visualizations, and narrative text
                        </div>
                        <div class="ui floating dropdown theme" tabindex="0">
                            <i class="fas fa-ellipsis-v"></i>
                            <div class="menu transition hidden" tabindex="-1">
                                <div class="item">Save to My Environments</div>
                                <a class="item">Use in Existing Tale</a>
                                <a class="item">Create New Tale</a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui list transition hidden">
                            <div class="ui stackable grid">
                                <div class="ui six wide column">
                                    <div class="item">
                                        <b>Name:</b> Jupyter Notebook
                                    </div>
                                    <div class="item">
                                        <b>Description:</b> No description
                                    </div>
                                    <div class="item">
                                        <b>Creator:</b> Girder Administrator
                                    </div>
                                    <div class="item">
                                        <b>Is Public:</b> Yes
                                    </div>
                                </div>
                                <div class="ui ten wide column">
                                    <div class="item">
                                        <b>Configuration:</b>
                                        <div class="ui message">
                                            <pre>JSON</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="title">
                        <div class="label">
                            <img src="assets/img/frontends/spark_logo.png" alt="Jupyter w/ Spark">
                        </div>
                        <div class="listing">
                            <h3>Jupyter with Spark</h3> Perform massive distributed processing over resilient sets of data
                        </div>
                        <div class="ui floating dropdown theme" tabindex="0">
                            <i class="fas fa-ellipsis-v"></i>
                            <div class="menu transition hidden" tabindex="-1">
                                <div class="item">Save to My Environments</div>
                                <a class="item">Use in Existing Tale</a>
                                <a class="item">Create New Tale</a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui list transition hidden">
                            <div class="ui stackable grid">
                                <div class="ui six wide column">
                                    <div class="item">
                                        <b>Name:</b> Jupyter with Spark
                                    </div>
                                    <div class="item">
                                        <b>Description:</b> No description
                                    </div>
                                    <div class="item">
                                        <b>Creator:</b> Girder Administrator
                                    </div>
                                    <div class="item">
                                        <b>Is Public:</b> Yes
                                    </div>
                                </div>
                                <div class="ui ten wide column">
                                    <div class="item">
                                        <b>Configuration:</b>
                                        <div class="ui message">
                                            <pre>JSON</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
