<h1 mat-dialog-title>
    <img class="ui avatar image" src="data:image/png;base64,{{ data.provider.logo }}">
    Disconnect {{ data.provider.fullName }} Account
    <button class="ui tiny close right floated button" mat-dialog-close>
        <i class="close icon"></i>
    </button>
</h1>

<mat-dialog-content style="overflow:visible;">
    <p>Are you sure you want to disconnect this {{ data.provider.fullName }} external account?</p>
    <p>You can choose to reconnect your account in the future.</p>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="actions">
    <button class="ui deny button" mat-dialog-close>
      Cancel
    </button>
    <button class="ui positive primary right button" [mat-dialog-close]="true">
      Confirm
    </button>
  </div>
</mat-dialog-actions>

