<h1 mat-dialog-title>Disconnect {{ data.provider.fullName }} Account</h1>

<mat-dialog-content>
  <div id="revoke-apikey-modal" class="ui modal revoke-apikey">
    <i class="close icon"></i>
    <div class="header">
      <img class="ui avatar image" src="data:image/png;base64,{{ data.provider.logo }}"> Revoke {{ data.provider.fullName }} Account
    </div>
    <div class="content">
      Are you sure you want to disconnect this external account?
      
      You can choose to reconnect your account in the future.
    </div>
  </div>
</mat-dialog-content>
  
<mat-dialog-actions>
  <div class="actions">
    <button class="ui deny button" mat-dialog-close>
      Cancel
    </button>
    <button class="ui positive primary right button" [mat-dialog-close]="true">
      Confirm
    </button>
  </div>
</mat-dialog-actions>